@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body{
    background-color: #f2f2f2;
    font-family:"Lato";
    font-weight:300;
    font-size:16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    margin-top: 70px;
}

h1,h2,h3,h4,h5,h6 {
    font-family:"Raleway";
    font-weight: 300;
    color: #333;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centred{
    text-align: center;
}

a {
    color: #f85c37;
}

a:hover, a:focus{
    color: #7b7b7b;
    text-decoration: none;
    outline:0;
}

hr{
    display: block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0;
}

.navbar{
    font-weight:800;
    font-size: 14px;
    padding-top:15px;
    padding-bottom:15px;
}

.navbar-inverse{
    background-color: #2d2d2d;
    border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #ff7878;
}

.navbar-inverse .navbar-brand{
    color: #999;
    font-weight:bolder;
    font-size:22px;
    letter-spacing:1px;
}

.submenu {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 100%;
    width: 150px;
    padding: 15px 0 15px;
    margin-top: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: .3s;
}
.topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}

.submenu a {
    font-family: 'Libre Baskerville', serif;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 5px 10px;
    transition: .3s linear;
}
.submenu a:hover {background: #e8e8e8;}