<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="username" placeholder="name">
            <input type="text" name="password" placeholder="password">
            <input type="text" name="role" placeholder="role">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>Список имен</div>
    {{#messagess}}
    <div>
        <b>{{id}}</b>
        <span>{{username}}</span>
        <span>{{password}}</span>
        <i>{{role}}</i>
    </div>
    {{/messagess}}
</body>
</html>